
.tab-container{
    display: flex-inline;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
}

.map-guide-container{
    max-height: 445px;
    overflow: auto;
    padding: 0 16px 24px 24px;
}

.hidden{
    display: none;
}

.btn-close{
    position: absolute;
    bottom: 50;
    left: 50;
}

#analysiscontent {
    padding: 0 20px;
}